<div class="panel panel-default" data-collapse-id="{{id}}" data-collapse-uuid="{{uuid}}">
  <h4 class="panel-title {{#if collapsed}}collapsed{{/if}}" data-target="#collapse-{{id}}" data-toggle="collapse">{{title}}</h4>
  <div class="panel-collapse collapse {{#unless collapsed}}in{{/unless}}" id="collapse-{{id}}">
    <div class="panel-body"></div>
  </div>
</div>
